@charset "utf-8";
#content{
  padding-top: 75px;
}
#header{
  /* 画像ファイルの指定 */
  background-image: url(../img/hacusk-room.png);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  height: 100vh;
  width: 100vw;
  margin-top: -75px;
  padding-top: 75px;
}
#about, #member, #news, #projects, #links{
  margin-top: -75px;
  padding-top: 75px;
}
.jumbtron-header{
  background-color: rgba(200,200,200,0.8)!important;
  margin-top: 10%!important;
  margin-bottom: 10%!important;
}
